[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = We are all potential researchers!  But we need to have access to valid data and tools in order to test our ideas!
[access "refs/*"]
	owner = group user/xtergo
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/xtergo
	label-Verified = -1..+1 group user/xtergo
	push = group user/xtergo
	read = group user/xtergo
	rebase = group user/xtergo
	removeReviewer = group user/xtergo
	submit = group user/xtergo
[access "refs/heads/*"]
	create = group user/xtergo
	push = +force group user/xtergo
	pushMerge = group user/xtergo
	read = group user/xtergo
[access "refs/tags/*"]
	push = group user/xtergo
	push = +force group user/xtergo
